/* PHASE 4: Footer */
.footer {
  background-color: #fff;
  width: 900px;
  margin: auto;
  margin-bottom: 60px;
  box-sizing: content-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: #aaa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.footer-copyright {
  float: left;
  padding: 20px 20px;
}

.footer-links {
  float: right;
  padding-right: 10px;
}

.footer-links > li {
  float: left;
  padding: 20px 10px;
}

.footer-links > li:hover {
  color: #000;
}
